/* GENERAL */

body {
  background-color: #141414;
  font-size: 12px;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h1 {
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 1.5px;
  white-space: nowrap;
}

h2 {
  font-size: 1.3em;
  margin: 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #969696;
}

p {
  font-size: 1.2em;
  margin: 0.5em 0;
}

/* BUTTONS */
/* .genres{
  background-color: #141414;
  color: #e6e6e6;
} */

.btn-netflix {
  background-color: transparent;
  border: 1px solid #666666;
  color: #666666;
  font-size: 0.9rem;
  padding: 5px 12px;
  border-radius: 0;
  font-size: 1.5em;
}

.btn-netflix:hover {
  background-color: #e6e6e6;
  color: #141414;
}
/* HEADER */
header {
  color: #e6e6e6;
}

.navbar .nav-link {
  color: #e6e6e6;
}

.nav-link:hover,
.footer-li:hover {
  font-weight: 700;
}

.logo {
  max-width: 130px;
  cursor: pointer;
}

.avatar {
  max-width: 40px;
}

.hamburger-icon {
  color: white;
}

/* MAIN */
.homepage-main,
.profile-main {
  color: #e6e6e6;
}

.movie-row {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 40px;
}

.movie-track {
  display: flex;
  gap: 5px;
  overflow: visible;
}

.movie-item {
  flex: 0 0 auto;
  width: 150px;
  position: relative;
}

.movie-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-item:hover {
  z-index: 10;
}

.movie-item:hover img {
  transform: scale(1.15);
}

.movie-row::-webkit-scrollbar {
  display: none;
}

.carousel-wrapper {
  position: relative;
}

/* frecce base */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.carousel-wrapper:hover .arrow {
  opacity: 1;
}

/* sinistra */
.arrow.left {
  left: 0;
}

/* destra */
.arrow.right {
  right: 0;
}

/* FOOTER */
footer {
  color: #808080;
}

/* profile page specific */
.mx-auto {
  max-width: 600px;
}

.second-row {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

.input-style {
  background-color: #808080;
  border-radius: 0;
  border: none;
  color: #e6e6e6;
}

.select-style {
  background-color: #141414;
  border-radius: 0;
  color: #e6e6e6;
  max-width: 130px;
  padding: 0 1em;
}

.select-style:hover {
  background-color: #e6e6e6;
  color: #141414;
}

.profile-form {
  max-width: 400px;
}

/* .profile-avatar {
  max-width: 130px;
} */

.btn-maturity {
  background-color: #333333;
  border: none;
  color: #e6e6e6;
  font-size: 0.9rem;
  padding: 5px 12px;
  margin: 1em;
  border-radius: 0;
}

.btn-maturity:hover {
  background-color: #e6e6e6;
  color: #141414;
}

.form-check-input {
  background-color: transparent;
  border: 1px solid #969696;
  font-size: 0.9rem;
  padding: 5px 12px;
  border-radius: 0;
  width: 30px;
  height: 30px;
}

.form-check-input:checked {
  background-color: transparent;
  border-color: #969696;
  accent-color: #969696;
}
/* override bts */
.form-check-input:focus {
  border-color: #e50914;
  box-shadow: 0 0 5px #e50914;
}
.form-maturity {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  padding: 1em 0;
}

/* specific to settings page */
.settings-body {
  background-color: white;
}

.settings-header {
  background-color: #141414;
}

.settings-main {
  color: #dbdbdb;
}

.membership,
.paypal {
  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
  margin: 1em 0;
  padding: 1em 0;
}

.plan,
.settings {
  border-bottom: 2px solid #dbdbdb;
  margin: 1em 0;
  padding: 1em 0;
}

.ultra-hd {
  border: 2px solid #666;
  padding: 2px 6px;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #666;
  margin-left: 8px;
}

.settings-main a {
  color: #0d6efd;
  text-decoration: none;
}

.settings-main a:hover {
  color: #71aee1;
}

.avatar-settings {
  width: 35px;
}

.settings-button {
  border: none;
  padding: 8px 30px;
}

.settings-button:hover {
  background-color: #333333;
  color: white;
}
